<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model="inputValue"><!--inputValue实际上是data数据，而不是方法-->
			<button v-on:click="handleBtnClick">提交</button>
			<ul>
				<li v-for="item1 in list">{{item1}}</li><!--item 指list里的内容-->
			</ul>
		</div>
	<script>
		var app = new Vue({
			el:'#app',
			data:{
				list:[],
				inputValue:''
			},
			methods:{
				handleBtnClick:function  () {
					this.list.push(this.inputValue); //alert如果弹出的是变量,就不能加引号
//					第一个this是指data
					this.inputValue=''
					//把点击提交之后input框里的内容置空
				}
			}
		})
	</script>
	</body>
	
</html>
